<!DOCTYPE html>
<html>
<head>
  <title>Tennis Player</title>
</head>
<body background="/images/tennis.jpg">
<h1> Welcome to our Website. You can find here your potential Tennis Partner!</h1>
<img src="/assets/tennis.jpg" />
<p>Hello</p>
</body>
</html>